<!-- <modal name="self.name" on-close="self.onClose">
    <h1>User Infomation</h1>
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <br>
    <span ng-bind="self.navErr" class="text-danger"></span>
    <form>


        <input 
        type="text" 
        placeholder="Username" 
        ng-model="self.user.username">

        <input 
        type="password" 
        placeholder="Password" 
        ng-model="self.user.password">

        <input 
        type="password" 
        placeholder="Confirm Password" 
        ng-model="self.user.confirmPassword">

        <input 
        type="text" 
        placeholder="Email" 
        ng-model="self.user.email">

        <input 
        type="text"  
        placeholder="Fullname" 
        ng-model="self.user.fullname">    
        
        <div class="row">
            <label class="col-sm-4 col-md-4 col-lg-4">Company : </label>
            <select ng-model="self.user.idCompany" class="col-sm-5 col-md-5 col-lg-5">
                <option 
                    ng-repeat="company in self.listCompany" 
                    value="{{company.idCompany}}" 
                    ng-bind="company.name">
                </option>
            </select>
        </div>
        


        <div class="row">
            <label class="col-sm-4 col-md-4 col-lg-4">Role : </label>
            <select ng-model="self.user.role" class="col-sm-5 col-md-5 col-lg-5">
                <option value="1">Administrator</option>
                <option value="2">User</option>
                </select>
        </div>
        
        <input
            type="submit"
            name="login"
            class="login loginmodal-submit"
            value="Submit"
            ng-click="self.onSubmit()">
    </form>
</modal> -->

<modal name="self.name" on-close="self.onClose" header="'USER INFOMATION'">
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>


    <form>

        <div class="row">

            <div class="form-group  col-lg-6 col-sm-6 col-md-6">
                <label class="col-form-label">Full Name</label>

                <input type="text" class="form-control" ng-model="self.user.fullname">
            </div>

            <div class="form-group col-lg-6 col-sm-6 col-md-6">
                <label class="col-form-label ">Email</label>

                <input type="text" class="form-control" ng-model="self.user.email">
            </div>


        </div>

        <div class="form-group">
            <label class="col-form-label">Username</label>

            <input type="text" class="form-control" ng-model="self.user.username">
        </div>



        <div class="form-group ">
            <label class="col-form-label">Password</label>

            <input type="password" class="form-control" ng-model="self.user.password">
        </div>

        <div class="form-group ">
            <label class="col-form-label">Confirm Password</label>

            <input type="password" class="form-control" ng-model="self.user.confirmPassword">
        </div>


        <div class="row" ng-if="self.userRole === 0">
            <div class="col-sm-8 col-md-8 col-lg-8 row">
                <label class="col-sm-3 col-md-3 col-lg-3">Company : </label>
                <select ng-model="self.user.idCompany" class="col-sm-6 col-md-6 col-lg-6">
                    <option ng-repeat="company in self.listCompany" value="{{company.idCompany}}" ng-bind="company.name">
                    </option>
                </select>
                
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 row">
                <div class="row">
                    <label class="col-sm-4 col-md-4 col-lg-4">Role : </label>
                    <select ng-model="self.user.role" class="col-sm-5 col-md-5 col-lg-5">
                        <option value="0">System Admin</option>
                        <option value="1">Company Moderator</option>
                        <option value="2">Normal User</option>
                        <option value="3">Special User</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <label class="col-sm-4 col-md-4 col-lg-4">Role : </label>
            <select ng-model="self.user.role" class="col-sm-5 col-md-5 col-lg-5">
                <option value="1">Administrator</option>
                <option value="2">User</option>
            </select>
        </div> -->

    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="self.onSubmit()">SUBMIT</button>
    </div>
</modal>