<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index:1042;">
        <div class="loginmodal-container">
            <!-- this btn is just for click in directiv -->
            <button 
             type="button"
             class="close"
             id="login-modal-close" 
             data-dismiss="modal"
             style="color:black;">&times;</button>
            <h1>User Infomation</h1>
            <div class="text-success" ng-bind="self.sucMsg"></div>
            <div class="text-danger" ng-bind="self.errMsg"></div>
            <br>
            <span ng-bind="self.navErr" class="text-danger"></span>
            <form>

                
                <input 
                type="text" 
                placeholder="user id" 
                ng-model="self.user.idUser">

                <input 
                type="text" 
                placeholder="username" 
                ng-model="self.user.username">

                <input 
                type="password" 
                placeholder="Password" 
                ng-model="self.user.password">

                <input 
                type="text" 
                placeholder="email" 
                ng-model="self.user.email">

                <input 
                type="text"  
                placeholder="fullname" 
                ng-model="self.user.fullname">

                <label>Role : </label>
                <input 
                type="number"  
                placeholder="role" 
                ng-model="self.user.role">

                <!-- <label>Detail : </label> -->
                <!-- <select ng-model="self.user.detail">
                    <option value="root_user">root_user</option>
                    <option value="common_user">common_user</option>
                </select> -->
                
                <input
                 type="submit"
                 name="login"
                 class="login loginmodal-submit"
                 value="Submit"
                 ng-click="self.onSubmit()">
            </form>

            <!-- <div class="login-help">
                <a href="#">Forgot Password</a>
            </div> -->
        </div>
    </div>
</div>