<modal name="self.name" on-close="self.onClose">
    <h1>GROUP INFOMATION</h1>
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <br>
    <span ng-bind="self.navErr" class="text-danger"></span>
    <form>


        <input 
        type="text" 
        placeholder="Name" 
        ng-model="self.group.name">

        <input 
        type="text" 
        placeholder="Description" 
        ng-model="self.group.description">

        <!-- <input type="text"
        placeholder="Company Id"
        ng-model="self.group.idCompany"> -->

        <div class="row">
            <label class="col-sm-4 col-md-4 col-lg-4">Company : </label>
            <select ng-model="self.user.idCompany" class="col-sm-5 col-md-5 col-lg-5">
                <option 
                    ng-repeat="company in self.listCompany" 
                    value="{{company.idCompany}}" 
                    ng-bind="company.name">
                </option>
            </select>
        </div>

        <input
            type="submit"
            name="login"
            class="login loginmodal-submit"
            value="Submit"
            ng-click="self.onSubmit()">
        
    </form>
</modal>