<modal name="self.name">
    <h1>Add User To Group</h1>
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <br>
    <span ng-bind="self.navErr" class="text-danger"></span>
    <form>

        <label>List Group</label>
        <select 
        style="margin:15px; " 
        ng-model="self.idGroup">
                <option
                ng-repeat="g in self.listGroup track by $index"
                value="{{g.idGroup}}"
                ng-bind="g.name"></option>
        </select>
        
        <input
            type="submit"
            name="login"
            class="login loginmodal-submit"
            value="Submit"
            ng-click="self.onSubmit()">
    </form>
</modal>















<!-- <div class="modal fade" id="add-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index:1042;">
        <div class="loginmodal-container">
            <button 
             type="button"
             class="close"
             id="login-modal-close" 
             data-dismiss="modal"
             style="color:black;"
             ng-click="self.onClose()">&times;</button>
            <h1>Add User To Group</h1>
            <div class="text-success" ng-bind="self.sucMsg"></div>
            <div class="text-danger" ng-bind="self.errMsg"></div>
            <br>
            <span ng-bind="self.navErr" class="text-danger"></span>
            <form>

                <label>List Group</label>
                <select 
                style="margin:15px; " 
                ng-model="self.idGroup">
                     <option
                      ng-repeat="g in self.listGroup track by $index"
                      value="{{g.idGroup}}"
                      ng-bind="g.name"></option>
                </select>
                
                <input
                 type="submit"
                 name="login"
                 class="login loginmodal-submit"
                 value="Submit"
                 ng-click="self.onSubmit()">
            </form>

            
        </div>
    </div>
</div> -->



