<div class="text-danger" ng-bind="vm.err"></div>
<div class="text-success" ng-bind="vm.resp"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Role</th>
            <th>Fullname</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="user in self.users | pagination: self.curPage: self.userPerPage | filter:self.filter  track by $index">
            <td>
                <input type="checkbox">
            </td>
            <td ng-bind="user.idUser"></td>
            <td ng-bind="user.username"></td>
            <td ng-bind="user.email"></td>
            <td ng-bind="user.status"></td>
            <td ng-bind="user.role"></td>
            <td ng-bind="user.fullname"></td>
            <!-- <td>
                <div ng-repeat="m in user.alMonitors track by $index " ng-bind="m"></div>
            </td> -->
            <!-- <td>
                <button 
                title="allocate monitor to this user" 
                class="btn btn-xs btn-success"
                data-toggle="modal"
                data-target="#al-monitor-modal"
                ng-click="vm.alMonitorModal.onClick(user._id)">
                    <i class="material-icons">add</i>
                </button>
            </td>
            <td>
                <button
                 title="unallocate monitor to this user"
                 class="btn btn-xs btn-danger"
                 data-toggle="modal"
                 data-target="#unal-monitor-modal"
                 ng-click="vm.unalMonitorModal.onClick(user._id)">
                    <i class="material-icons">clear</i>
                </button>
            </td> -->
        </tr>
    </tbody>
</table>
<div class="">
    <button 
    class="btn btn-success"
    title="add a user"
    data-toggle="modal"
    data-target="#add-user-modal">Add User</button>

    <button class="btn btn-success">Add To Group</button>

    <button class="btn btn-danger" ng-click="vm.deleteOnSubmit()">Remove User</button>
    
</div>

<!--===== modal ====-->
<div>
    <add-user-modal add-user-success="self.addUserSuccess"></add-user-modal>
</div>

<!--===================== pagination =========================-->
<ul class="pagination pagination-sm">
    <li ng-repeat="page in [] | range: self.numPage" ng-class="{'active' : page === self.curPage}">
        <a ng-bind="page" ng-click="vm.changePage(page)"></a>
    </li>
</ul>




<!-- <div>
    <div ng-include="'../admin/components/views/user/modals/alMonitorModal.template.html'"></div>
    <div ng-include="'../admin/components/views/user/modals/unalMonitorModal.template.html'"></div>
    <div ng-include="'../admin/components/views/user/modals/addUserModal.template.html'"></div>
</div> -->