<div class="text-danger" ng-bind="self.errMsg"></div>
<!-- <div class="text-success" ng-bind="vm.resp"></div> -->
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Role</th>
            <th>Fullname</th>
            <th>Group</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="user in self.users | pagination: self.curPage: self.userPerPage | filter:self.filter  track by $index">
            <td>
                <input type="checkbox">
            </td>
            <td ng-bind="user.idUser"></td>
            <td ng-bind="user.username"></td>
            <td ng-bind="user.email"></td>
            <td ng-bind="user.status"></td>
            <td ng-bind="user.role"></td>
            <td ng-bind="user.fullname"></td>
            <td>
                <button 
                class="btn btn-success btn-sm"
                title="group user"
                data-toggle="modal"
                data-target="#add-group-modal"
                ng-click="self.addGroupUserOnClick(user.idUser)">
                    <i class="material-icons">add</i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger btn-sm" ng-click="self.removeUserOnClick(user.idUser)">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="">
    <button 
    class="btn btn-success"
    title="add a user"
    data-toggle="modal"
    data-target="#add-user-modal">Add User</button>
</div>

<!--===== modal ====-->
<div>
    <add-user-modal add-user-success="self.addUserSuccess"></add-user-modal>
    <add-group-modal user-id="self.addGroupUser"></add-group-modal>
</div>

<!--===================== pagination =========================-->
<ul class="pagination pagination-sm">
    <li ng-repeat="page in [] | range: self.numPage" ng-class="{'active' : page === self.curPage}">
        <a ng-bind="page" ng-click="self.changePage(page)"></a>
    </li>
</ul>