<div class="text-danger" ng-bind="self.errMsg"></div>
<!-- <div class="text-success" ng-bind="vm.resp"></div> -->
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">USER MANAGEMENT</h4>
        <p class="category">This is a site that manage the users</p>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead class="text-primary">
            <tr>
                <!-- <th></th> -->
                <!-- <th><h6>ID</h6></th> -->
                <!-- <th><h6>STT</h6></th> -->
                <th><h6>STT</h6></th>
                <th><h6 class="clickable" ng-click="self.sort('username')">Username</h6></th>
                <th><h6>Email</h6></th>
                <th><h6>Status</h6></th>
                <th><h6 class="clickable" ng-click="self.sort('role')">Role</h6></th>
                <th><h6 class="clickable" ng-click="self.sort('fullname')">Fullname</h6></th>
                <th><h6 class="clickable" ng-click="self.sort('idCompany')">Company</h6></th>
                <th style="padding-left: 75px;"><h6>Action</h6></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-init="self.sortBy='username'"
                ng-repeat="(key, user) in self.users  | filter:self.searchStr | filter:self.inCompany | iig:self.inGroup | sort:self.sortBy : self.reverse  | pagination: self.curPage: self.userPerPage track by $index">
                <!-- <td>
                    <input type="checkbox">
                </td> -->
                <!-- <td ng-bind="user.idUser"></td> -->
                <td ng-bind="key + self.userPerPage*(self.curPage-1) | stt:key"></td>
                <td ng-bind="user.username"></td>
                <td ng-bind="user.email"></td>
                <td>
                        <span
                                ng-if="user.status === 'Inactive'"
                                class="label label-danger"
                                ng-bind="user.status">
                        </span>
                    <span
                            ng-if="!(user.status === 'Inactive')"
                            class="label label-success"
                            ng-bind="user.status">
                        </span>
                </td>
                <td>
                    <span ng-if="user.role === 0">System Admin</span>
                    <span ng-if="user.role === 1">Company Moderator </span>
                    <span ng-if="user.role === 2">Normal User</span>
                    <!-- <span ng-if="user.role === 3">Special User</span> -->
                </td>
                <td ng-bind="user.fullname"></td>
                <td ng-bind="self.idToCompanyDict[user.idCompany]"></td>
                <td style="text-align:center;">

                    <!-- <button
                     class="btn btn-success btn-xs"
                     title="group user"
                     data-toggle="modal"
                     data-target="#add-group-modal"
                     ng-click="self.addGroupUserOnClick(user.idUser)">
                        <i class="material-icons">add</i>
                    </button> -->

                    <modal-btn
                            class-name="'btn btn-success btn-xs'"
                            target="'edit-user-modal'"
                            my-disable="self.currentUsername === user.username"
                            ng-click="self.editUserOnClick(user)">
                        <i class="material-icons">edit</i>
                    </modal-btn>

                    <span ng-if="self.userRole < 2">
                            <modal-btn
                                    class-name="'btn btn-success btn-xs'"
                                    target="'add-group-modal'"
                                    ng-click="self.addGroupUserOnClick(user)">
                                <i class="material-icons">group</i>
                            </modal-btn>


                        <!-- <button
                        title="edit user"
                        data-toggle="modal"
                        data-target="#edit-user-modal"
                        class="btn btn-success btn-xs"
                        ng-click="self.editUserOnClick(user.idUser)" >
                            <i class="material-icons">edit</i>
                        </button> -->
                            <button
                                    ng-if="self.isActive(user)"
                                    ng-disabled="self.currentUsername === user.username"
                                    title="deactive user"
                                    class="btn btn-danger btn-xs"
                                    ng-click="self.deactiveUser(user.idUser)">
                                <i class="material-icons">lock</i>
                            </button>
                            <button
                                    ng-if="!(self.isActive(user))"
                                    ng-disabled="self.currentUsername === user.username"
                                    title="active user"
                                    class="btn btn-success btn-xs"
                                    ng-click="self.activeUser(user.idUser)">
                                <i class="material-icons">lock_open</i>
                            </button>
                            <button
                                    class="btn btn-danger btn-xs"
                                    title="remove user"
                                    ng-disabled="self.currentUsername === user.username"
                                    ng-click="self.removeUserOnClick(user)">
                                <i class="material-icons">delete</i>
                            </button>
                            <button
                                    class="btn btn-danger btn-xs"
                                    title="Force User Logout"
                                    ng-click="self.forceUserLogOut(user)">
                                <i class="material-icons">sentiment_very_dissatisfied</i>
                            </button>
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">

    <div class="col-sm-10 col-md-10 col-lg-10">
        <label class="col-sm-2 col-md-2 col-lg-2">User per page :</label>
        <select ng-init="self.userPerPage='10'" ng-model="self.userPerPage" ng-change="self.changeUserPerPage()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
        <label class="col-sm-2 col-md-2 col-lg-2">In group :</label>
        <select
                ng-init="self.inCompany.idCompany=''"
                ng-model="self.inGroup"
                ng-change="self.filterByGroup()">
            <option value="">All</option>
            <option ng-repeat="g in self.getGroupFilterOptions()" value="{{g}}" ng-bind="g.name"></option>
        </select>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10" ng-if="self.userRole === 0">
        <label class="col-sm-2 col-md-2 col-lg-2">In company :</label>
        <select
                ng-init="self.inCompany.idCompany=''"
                ng-model="self.inCompany.idCompany"
                ng-change="self.filterByCompany()">
            <option value="">All</option>
            <option
                    ng-repeat="c in self.companies"
                    value="{{c.idCompany}}"
                    ng-bind="c.name"></option>
        </select>
    </div>
    <!-- <button 
     class="btn btn-success"
     title="add a user"
     data-toggle="modal"
     data-target="#add-user-modal">Add User
    </button> -->

    <modal-btn
            ng-if="self.userRole <= 1"
            class-name="'btn btn-primary'"
            target="'add-user-modal'">Add User
    </modal-btn>


</div>
<div class="row">


</div>

<!--===== modal ====-->
<div>
    <add-user-modal
            add-user-success="self.addUserSuccess"
            user-role="self.userRole"
            get-default-company-id="self.getDefaultCompanyId">
    </add-user-modal>
    <add-group-to-user-modal user="self.addGroupUser" company-id="self.addGroupUser_idCompany">
    </add-group-to-user-modal>
    <edit-user-modal
            user-role="self.userRole"
            edit-user-success="self.editUserSuccess"
            user="self.editUser">
    </edit-user-modal>
</div>

<!--===================== pagination =========================-->
<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5"></div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <ul class="pagination pagination-sm">
            <li ng-repeat="page in [] | range: self.numPage" ng-class="{'active' : page === self.curPage}">
                <a ng-bind="page" ng-click="self.changePage(page)"></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
