<!-- <modal name="self.name" on-close="self.onClose">
    <h1>GROUP INFOMATION</h1>
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <br>

    <form>
        <input 
        type="text" 
        placeholder="Name" 
        ng-model="self.company.name">
            
        <input 
        type="text" 
        placeholder="Description" 
        ng-model="self.company.description">

        <input 
        type="text" 
        placeholder="Location" 
        ng-model="self.company.location">

        <input
            type="submit"
            name="login"
            class="login loginmodal-submit"
            value="Submit"
            ng-click="self.onSubmit()">
            
    </form>
</modal> -->

<modal name="self.name" on-close="self.onClose" header="'GROUP INFOMATION'">
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <form>

        <div class="form-group">
            <label class="col-form-label">Name</label>

            <input type="text" class="form-control" ng-model="self.company.name">
        </div>

        <div class="form-group">
            <label class="col-form-label">Description</label>

            <input type="text" class="form-control" ng-model="self.company.description">
        </div>

        <div class="form-group">
            <label class="col-form-label">Location</label>

            <input type="text" class="form-control" ng-model="self.company.location">
        </div>

    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="self.onSubmit()">SUBMIT</button>
    </div>
</modal>