<modal name="self.name" on-close="self.onClose">
    <h1>GROUP INFOMATION</h1>
    <div class="text-success" ng-bind="self.sucMsg"></div>
    <div class="text-danger" ng-bind="self.errMsg"></div>
    <br>

    <form>
        <input 
        type="text" 
        placeholder="Name" 
        ng-model="self.company.name">
            
        <input 
        type="text" 
        placeholder="Description" 
        ng-model="self.company.description">

        <input 
        type="text" 
        placeholder="Location" 
        ng-model="self.company.location">

        <input
            type="submit"
            name="login"
            class="login loginmodal-submit"
            value="Submit"
            ng-click="self.onSubmit()">
            
    </form>
</modal>