<modal name="self.name" on-close="">
    <h1>List User In Group</h1>
    <ul class="list-group product-category-all">
        <li class="list-group-item">
            <a class="badge">
                <i class="material-icons">delete</i>
                </i>
            </a>
            <!-- <img src="http://static.iconarchive.com/static/images/social/facebook-icon.png"></img> -->
            <span>
                <i class="material-icons" style="font-size: 40px; vertical-align: middle;">face</i>
                Elektronik
            </span>
            <!-- <span>
                <button 
                class="btn btn-danger btn-xs" 
                title="remove user">
                   <i class="material-icons">delete</i>
               </button>
            </span> -->
        </li>
    </ul>
</modal>