<!-- <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <div>curView : {{self.curView}}</div>
    <div class="logo">
        <a class="simple-text" ng-bind="self.title">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active" ng-click="">
                <a ui-sref="live">
                    <i class="material-icons">live_tv</i>
                    <p>Live</p>
                </a>
            </li>
            <li ng-click="">
                <a ui-sref="playback">
                    <i class="material-icons">videocam</i>
                    <p>PlayBack</p>
                </a>
            </li>
            <li ng-click="">
                <a ui-sref="setting">
                    <i class="material-icons">settings</i>
                    <p>Setting</p>
                </a>
            </li>
        </ul>
    </div>
</div> -->

<h1>curView: {{self.curView}}</h1> 
<button ng-click="self.call()">skda</button>