

<div 
 class="modal fade" 
 id="{{self._name}}" 
 tabindex="-1" 
 role="dialog" 
 aria-labelledby="myModalLabel" 
 aria-hidden="true"
 data-backdrop="static" 
 data-keyboard="false">
    <div class="modal-dialog" style="z-index:1042;">
        <div class="loginmodal-container">
            <button 
            type="button"
            class="close"
            id="{{self._closeBtn}}" 
            data-dismiss="modal"
            style="color:black;"
            ng-click="self.onClose()">&times;</button>

            <!-- <button 
            type="button"
            class="close"
            id="login-modal-close" 
            data-dismiss="modal"
            style="color:black;"
            ng-click="self.onClose()">&times;</button> -->

            <!-- <button 
            type="button"
            class="close"
            data-dismiss="modal"
            style="color:black;"
            ng-click="self.onClose()">&times;</button> -->

            <ng-transclude></ng-transclude>
            
        </div>
    </div>
</div>

<script>
    // const btn = document.getElementById(self._closeBtn);
    // btn.onclick = function() {
    //         $rootScope.$apply(() => {
    //             console.log('should inside a $digest');
    //         })
    //     }
</script>