<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/pages/Coltech/108494469181799" target="_blank">
                        COLTECH FACEBOOK
                    </a>
                </li>
                <li>
                    <a href="https://uet.vnu.edu.vn/" target="_blank">
                        UET Home
                    </a>
                </li>
                <li>
                    <a href="https://www.vnu.edu.vn/home/" target="_blank">
                        VNU Home
                    </a>
                </li>
                <li>
                    <a href="http://ctmail.vnu.edu.vn/webmail/src/login.php" target="_blank">
                        CtMail
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy 2018;
            <!-- <script>
                document.write(new Date().getFullYear())
            </script> -->
            <a href="">Bui Minh Quang</a>, K61C-CLC
        </p>
    </div>
</footer>